<ol class="steps">
  <li class="<%= "text-primary" if @step == 1 %>">Connect booking item</li>
  <li class="<%= "text-primary" if @step == 2 %>">Verify booking</li>
  <li class="<%= "text-primary" if @step == 9 %>">Verify cost coverage</li>
  <li class="<%= "text-primary" if @step == 3 %>">Add invoice details</li>
  <li class="<%= "text-primary" if @step == 4 %>">Connect charges</li>
</ol>